{% extends 'base.html.twig' %}

{% block title %}forgot password{% endblock %}

{% block body %}
    <div id="general-form">
        <p id="title-form">forgot password</p>
        {{ form_start(form) }}      
        {{ form_end(form) }}
    </div>
{% endblock %}
