<html>
	<body>
		<p>you have requested a password change</p>
		 click in this link for change password : 
		 <a href="{{"http://"~app.request.httpHost~"/passwordRequest/"~token}}">{{"http://"~app.request.httpHost~"/passwordRequest/"~token}}</a>
	</body>
</html>
