<html>
	<body>
		pour comfirmer votre inscription cliquer sur le lien suivant : <a href="{{"http://"~app.request.httpHost~"/accountValidation/"~token}}">{{"http://"~app.request.httpHost~"/accountValidation/"~token}}</a>
	</body>
</html>
